<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="css/index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script
    type="text/javascript"
    src="https://webpivottable.com/releases/latest/dist/wpt.js"
  ></script>
  <script defer src="js/index.js"></script>
  <script defer src="js/ringkasData.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <body>
    <div class="main-container d-flex">
      <%- include("./layout/sidebar") %>
      <div class="content">
          <div class="dashboard-content px-3 pt-4">
            <div class="container cont">
                <div class="cont-info border border-1 p-2 shadow-sm">
                  <div class="info">
                    <h5>Jumlah Konsumen</h5>
                    <h3>200</h3>
                  </div>
                </div>
                <div class="cont-info border border-1 p-2 shadow-sm">
                  <div class="info">
                    <h5>Jumlah Konsumen</h5>
                    <h3>200</h3>
                  </div>
                </div>
                <div class="cont-info border border-1 p-2 shadow-sm">
                  <div class="info">
                    <h5>Jumlah Konsumen</h5>
                    <h3>200</h3>
                  </div>
                </div>
            </div> 
            <div class="container">
              <div class="row">
                <div class="dropdown-center col">
                  <button id="selectDropdown" class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Fitur 1
                  </button>
                  <ul id="fitur1" class="dropdown-menu">
                  </ul>
                </div>
                <div class="dropdown-center col"> 
                    <button class="btn btn-secondary dropdown-toggle w-100"
                            type="button" 
                            id="multiSelectDropdown"
                            data-bs-toggle="dropdown" 
                            aria-expanded="false"> 
                        Fitur 2 
                    </button> 
                    <ul id="fitur2" class="dropdown-menu" 
                        aria-labelledby="multiSelectDropdown"> 
                    </ul> 
                </div>
                <div class="dropdown-center col">
                  <button id="selectDropdown" class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Fungsi Agregasi
                  </button>
                  <ul class="dropdown-menu agregasi">
                    <li><a class="dropdown-item">SUM</a></li>
                    <li><a class="dropdown-item">COUNT</a></li>
                    <li><a class="dropdown-item">AVERAGE</a></li>
                  </ul>
                </div>
                <div class="form-inline col w-25">
                  <input type="text" id="myInput" onkeyup="search()" placeholder="Search" />
                </div>
              </div>
            </div>
            <div class="cont-tb border border-1 p-2 shadow-sm">
              <div class="info">
                
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
    
  </body>
</html>
