<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/css/tambah_data.css">
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script defer src=/"js/tambah_data.js"></script>
  <body>
    <div class="main-container d-flex">
      <%- include("./layout/sidebar") %>
      <div class="content">
          <nav class="navbar navbar-expand-md navbar-light bg-light">
              <div class="container-fluid">
                  <div class="d-flex justify-content-between d-md-none d-block">
                   <button class="btn px-1 py-0 open-btn me-2"><i class="fal fa-stream"></i></button>
                      <a class="navbar-brand fs-4" href="#"><span class="bg-dark rounded px-2 py-0 text-white">CL</span></a>
                     
                  </div>
                  <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <i class="fal fa-bars"></i>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                      <ul class="navbar-nav mb-2 mb-lg-0">
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">Profile</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>

          <div class="dashboard-content px-3 pt-4">
            <div class="m-3">
              <% if (locals.error) { %>
                <p class="text-danger"><%= locals.error %></p>
              <% } else if (locals.success) { %>
                <p class="text-success"><%= locals.success %></p>
              <% } %>
              <form action="/addData" method="post" enctype="multipart/form-data">
                <label for="formFile" class="form-label">Tambah data</label>
                <input
                class="form-control"
                type="file"
                id="formFile"
                accept=".csv"
                name="data"
                />                 
                <input class="btn btn-primary mt-3" type="submit" value="Submit">
              </form>
            </div>
            
          </div>
      </div>
    </div>
  </body>
</html>
