body{
    background: #eee;
}
.content{
      min-height: 100vh;
      width: 100%;
}
   hr.h-color{
     background: #eee;
}
.cont-info{
  width: 30.5%;
  height: 100%;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  text-align: start;
  border-radius: 15px;
  background: #FFF;
  margin-left: 1%;
  margin-right: 1%;
}
.cont {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.info{
  margin: 5%;
}

.btn.dropdown-toggle {
  background-color: black; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}
label{
  width: 100%;
  margin: 2%;
  margin-left: 5%;
  height: 100%;
}
.dropdown-center{
  margin-bottom: 1%;
  margin-top: 1%;
}
.cont-tb{
  height: 68vh;
  background: #FFF;
  border-radius: 15px;
}

.dropdown-menu {
  height: 30vh; 
  overflow-y: auto; 
  border: 1px solid #ccc; 
  width: 100%;
}
.agregasi{
  height: 20vh;
}

.dropdown-item {
  padding: 8px;
  border-bottom: 1px solid #ddd; /* Optional: Add a border between list items */
}

.table-container {
  max-height: 45.45vh; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

.sticky-header th {
  position: sticky;
  top: 0;
  background-color: black !important;
  color: white !important;
  border: 1;
}

.row{
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 1%;
}

input {
  padding-left: 2em;
  padding-right: 1.5em;
  height: 2em;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 18vw;
} 
