body{
    background: #eee;
}
.content{
      min-height: 100vh;
      width: 100%;
}
   hr.h-color{
     background: #eee;
}
   
.btn.dropdown-toggle {
  background-color: black; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
label{
  width: 100%;
  margin: 2%;
  margin-left: 5%;
  height: 100%;
}
.dropdown-center{
  margin-bottom: 1%;
  margin-top: 1%;
}
.cont-tb{
  height: 85vh;
  background: #FFF;
  border-radius: 15px;
}

.dropdown-menu {
  height: 50vh; 
  overflow-y: auto; 
  border: 1px solid #ccc; 
}

.dropdown-item {
  padding: 8px;
  border-bottom: 1px solid #ddd; 
}

.info{
  margin: 1%;
}